snippet reg "regex-lang rule"
--regex-${1:`!p snip.rv = snip.basename`}=${2:pattern}/${3:name}/${4:kind}/${5:long-flag}
endsnippet

snippet match "match pattern 1"
\{1,\}\(${1:pattern}\)\{1,\}
endsnippet
