#!/usr/bin/env bash

echo runned !
exit

# update pop_os
# sudo apt update
# sudo apt upgrade
#
# sudo apt install zsh ondir gnome-tweaks kitty tmux
#
# # setup default terminal
# sudo update-alternatives --set x-terminal-emulator /usr/bin/kitty
#
# # setup keybase
# curl --remote-name https://prerelease.keybase.io/keybase_amd64.deb
# sudo apt install ./keybase_amd64.deb
# run_keybase -g
# rm keybase_amd64.deb
#
# # install nix
# sh <(curl -L https://nixos.org/nix/install) --daemon
#
# nix-env -iA nixpkgs.exa nixpkgs.fzf \
#   nixpkgs.lazygit nixpkgs.ninja nixpkgs.chezmoi nixpkgs.direnv \
#   nixpkgs.ripgrep nixpkgs.rnix-lsp nixpkgs.jdk nixpkgs.age
#
# sh <(curl -L https://nixos.org/nix/install)
#
# install rustup
# install cargo
# cargo install alacritty
# sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator /home/snipy/.cargo/bin/alacritty
# sudo update-alternatives --config x-terminal-emulator
