# 0 is too far
set -g base-index 1

# use C-a as a prefix
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

unbind (
unbind )
unbind C-Up   
unbind C-Down 
unbind C-Left 
unbind C-Right
unbind C-g

# set zsh as default command
{{- if eq .chezmoi.os "darwin" }}
set -g default-command /run/current-system/sw/bin/zsh
{{ else }}
set -g default-command /usr/bin/zsh
{{ end }}

# mouse
setw -g mouse on

# fix timeout hell
set -s escape-time 0

# windows title
set-window-option -g automatic-rename on
set-option -g set-titles on

set -g default-terminal screen-256color
set-option -sa terminal-overrides ',screen-256color:RGB'

set -g status-keys vi
set -g history-limit 10000

setw -g mode-keys vi
setw -g monitor-activity on

bind r source-file ~/.tmux.conf

bind-key -n M-Down resize-pane -D 5
bind-key -n M-Up resize-pane -U 5
bind-key -n M-Left resize-pane -L 5
bind-key -n M-Right resize-pane -R 5

bind-key -n M-j select-pane -D
bind-key -n M-k select-pane -U
bind-key -n M-h select-pane -L
bind-key -n M-l select-pane -R

# switch to rext and previous window
bind-key -n M-i next-window
bind-key -n M-u previous-window

# switch to next and previous session
bind-key -n M-s choose-session
bind-key -n M-a switch-client -p
bind-key -n M-d switch-client -n

bind-key -n M-v split-window -h -c "#{pane_current_path}"
bind-key -n M-x split-window -c "#{pane_current_path}"

bind-key g command-prompt -p "Command: "  "display-popup -E '%1'"

# PLUGINS

# List of plugins
set -g @plugin 'tmux-plugins/tpm'             # plugin manager
set -g @plugin 'tmux-plugins/tmux-sensible'   
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'o0th/tmux-nova'
set -g @plugin 'egel/tmux-gruvbox'

# theme
set -g @tmux-gruvbox 'dark'

# resurrect vim sessions
set -g @resurrect-strategy-vim 'session'
set -g @resurrect-strategy-nvim 'session'

# Continuum
set -g @continuum-restore 'on'
set -g @continuum-boot 'on'
set -g @continuum-boot-options 'fullscreen,iterm'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
