.oh-my-zsh
.oh-my-zsh/**

{{- if ne .chezmoi.os "darwin" }}
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.local/share/fonts
{{- end }}

*.md

# nvim specifics
.config/nvim/plugin/packer_compiled.lua
.config/nvim/spell/**/*
