[".config/alacritty/themes"]
type = "archive"
url = "https://github.com/alacritty/alacritty-theme/archive/master.tar.gz"
exact = true
stripComponents = 2
refreshPeriod = "168h"
include = ["*/themes/*.toml"]

[".oh-my-zsh/custom/plugins/nix-zsh-completions"]
type = "archive"
url = "https://github.com/nix-community/nix-zsh-completions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = ["*/.github", "*/.gitattributes"]
