{{/*  boolean feature flag */}}
{{- $ci        := false -}}{{/* true if running in the ci */}}
{{- $headless  := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $agekey    := false -}}{{/* true if this machine has any age key to decrypt secret */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work      := false -}}{{/* true if this is a work machine */}}

{{- $name  := "Sylvain Julmy" -}}
{{- $email := "sylvain.julmy@gmail.com" -}}

{{- if (env "GITHUB_CI") -}}
{{-   $ci        = true -}}
{{-   $headless  = true -}}
{{-   $agekey    = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

encryption = "age"

[edit]
command = "nvim"

[diff]
command = "nvim"
args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
exclude = ["scripts"]

[merge]
command = "nvim"
args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}","{{ "{{ .Target }}" }}"]

[age]
{{ if $ci -}}
identity = "/opt/agekey.txt"
{{ else -}}
identity = "~/.keybase/secret/agekey.txt"
{{ end -}}

recipients = [
    "age1fj55jsq3g8pck8fhevxglzzymqnzdqm6sluvadmk6es48cayy33smmwcz4",
    "age1tduwep92y009u8dg0ewvu25ez5ajkupu840kudsy5c0v76w7m5cqqhxl9r"
]

[git]
autoCommit = true
autoPush = false
