[user]
{{- if eq .chezmoi.hostname "tuxsju" }}
  email = sylvain.julmy@imtf.com
  name = Sylvain Julmy (IMTF)
  signingkey = sylvain.julmy@imtf.com
{{- else }}
  email = sylvain.julmy@gmail.com
  name = Sylvain (Snipy) Julmy
{{- end }}
[core]
    excludesfile = ~/.gitignore
[merge]
    conflictstyle = diff3
[init]
    defaultBranch = master
[fetch]
    prune = true
[pull]
    rebase = true
    ff = only
[push]
    followTags = true
    autoSetupRemote = true
    default = current
[alias]
	wip = commit -a -m "WIP"
	oops = reset HEAD~1
	sub = submodule update --init --recursive
        fix = commit --ammend --no-edit
[url "git@github.com:"]
    insteadOf = https://github.com/
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[advice]
    skippedCherryPicks = false
{{- if eq .chezmoi.hostname "tuxsju" }}
[commit]
  gpgsign = true
{{- end }}
